@model ShoppingCartViewModel

<h2>Your shopping cart</h2>
<h4>Here's your selection of tapas:</h4>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Selected amount</th>
            <th>Tapa</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
        {
            <tr>
                <td class="text-center">@line.Amount</td>
                <td class="text-left">@line.Tapas.Name</td>
                <td class="text-right">@line.Tapas.Price.ToString("c")</td>
                <td class="text-right">
                    @((line.Amount * line.Tapas.Price).ToString("c"))
                </td>
                <td class="text-center">
                    <a class="btn btn-primary" asp-controller="Tapas" asp-action="DetailsCart" asp-route-id="@line.Tapas.TapasId">Add/Remove</a>
                </td>
                
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @Model.ShoppingCartTotal.ToString("c")
            </td>
        </tr>
    </tfoot>
</table>


<div class="text-center">
    <a class="btn btn-primary" asp-controller="Order" asp-action="Checkout">Check out now!</a>
</div>

